<IfModule mod_rewrite.c>

    <IfModule mod_negotiation.c>
    Header set Access-Control-Allow-Origin "*"
        Options -MultiViews
    </IfModule>

    RewriteEngine On
#    RewriteBase /nesma/cms/public/
#    RewriteBase /unit/public/
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteRule . /nesma/cms/public/index.php [L]
#    RewriteRule . /unit/public/index.php [L]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /index.php/$1 [L,R=301] -f

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
